.navbar {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(117, 117, 164, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.18);
}
